html body {
    text-align: center;
    background-color: #2d3436;
    color: white;
}

.container {
    margin-top: 2%;
}

/*.radio-container {*/
/*    margin: 5%;*/
/*}*/

#board_container {
    /*margin-top: 100px;*/
    display: inline-block;
    border: 2px solid black;
}

#board {
    /*display: flex;*/
}

.radio-container .ui .dimension-input {
    margin: 10px;
}

.cell {
    background-color: white;
    border: 1px solid black;
}

#mode_radio_btn_group {
    width: 50%;
    display: flex;
    text-align: left;
    /*margin-left: 30%;*/
}

#clear-board-btn {
    margin: 20px;
}

.container .ui .dimension-input {
    margin-left: 10px;
}

.center {
    text-align: center;
    display: inline-block;
}

/*.center .mode_radio_btn_group .radio-container {*/
/*    margin-left: 20px;*/
/*}*/

.radio-container {
    margin-left: 20px;
    /*width: 200px;*/
    /*text-align: center;*/
    /*display: inline-block;*/
}