html body {
    text-align: center;
    background-color: #2d3436;
    color: white;
}

.myContainer {
    margin-top: 2%;
}

#board_container {
    /*margin-top: 100px;*/
    display: inline-block;
    border: 2px solid black;
}
#defaultCanvas0 {
    display: inline-block;
}
button {
    display: block;
}


.ui.form .inline.fields label {
    margin: 10px;
    color: white !important;
}

.ui.form {
    display: inline-block;
    text-align: center;
}

#start_search {
    display: inline-block;

}

#board-container {
    /*margin-top: 100px;*/
    display: inline-block;
    /*width: 100%;*/
    margin-top: 10px;
    font-size: 10px;


}

.cell {
    /*background-color: red;*/
    width: 50px;
    height: 50px;
    border: 1px solid black;
}


.radio_btn_group_div {

}

#board {
    /*margin-bottom: 50px;*/
    /*display: inline-block;*/
    /*text-align: center;*/
}

#data {
    /*float: right;*/
    width: 50%;
    /*height: 100px;*/
    /*background-color: red;*/
    display: inline-block;

}
p {
    margin: 0;
}

#simulator_speed {
    width: 500px;
    height: 15px;
}